body {
  background-color: #f9eed3;
}

h1 {
  font-size: 170%;
  color: #663300;
  border-bottom: solid 1px #f67504;
}

ul {
  list-style-type: none;
}

p {
  color: #663300;
}

img {
  width: 40%;
}

.container {
  display: flex;
}

footer {
  background-color: #2b4162;
  height: 50px;
}

footer > p {
  color: #f67504;
  text-align: center;
}
